<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DeviceList</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">列表</h3>
    </div>

    <div style="text-align: center">
        <table border="1" width="600">
            <tr>
                <th>节点地址</th>
                <th>节点类型</th>
                <th>生产时间</th>
                <th>网关地址</th>
            </tr>
            <tr th:each="device:${devices}">
                <td th:text="${device.devAddr}"></td>
                <td th:text="${device.type}"></td>
                <td th:text="${#dates.format(device.produceTime,'yy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${gwaddr}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>